<div class="container-fluid">
  <form role="form">
    <div class="row">
      <div class="col-md-4">
        <img ng-src="{{wine.photo_url}}" class="wine">
      </div>
      <div class="col-md-8">
        <div class="col-md-12">
          <h1 ng-hide="edit">{{wine.name}}</h1>
          <textarea class="form-control" ng-model="wine.name" style="margin-bottom:2em; border:solid;" ng-show="edit" rows="1" placeholder="wine title"></textarea>
          <textarea class="form-control" ng-model="wine.description" ng-readonly="!edit" rows="4" placeholder="wine description"></textarea>
          <p>
        </div>
        <div class="col-md-8">
          <button class="btn" ng-show="!edit" ng-click="startEdit()">
            <i class="glyphicon glyphicon-pencil"></i> Edit
          </button> 
          <button class="btn btn-primary" ng-show="edit" ng-click="saveEdit()">
            <i class="glyphicon glyphicon-star"></i> Save
          </button> 
          <button class="btn" ng-show="edit" ng-click="cancelEdit()">
            <i class="glyphicon glyphicon-star-empty"></i> Cancel
          </button> 
          <p>
        </div>
        <div class="col-md-4">
          <select class="form-control" ng-model="wine.status" ng-disabled="!edit">
            <option value="available">Available</option>
            <option value="tasted">Tasted</option>
            <option value="wished">Wished</option>
          </select>
          <p>
        </div>
        <div class="col-md-4">
          <h4>Grape, Region and Winery</h4>
          <textarea class="form-control" ng-model="wine.region" ng-disabled="!edit" rows="4" placeholder="region information"></textarea>
          <textarea class="form-control" ng-model="wine.grape" ng-disabled="!edit" rows="1" placeholder="grape name"></textarea>
        </div>
        <div class="col-md-4">
          <h4>Getting</h4>
          <textarea class="form-control" ng-model="wine.getting_date" ng-disabled="!edit" rows="1" placeholder="date"></textarea>
          <textarea class="form-control" ng-model="wine.getting_notes" ng-disabled="!edit" rows="4" placeholder="where did we buy it?"></textarea>
        </div>
        <div class="col-md-4">
          <h4>Tasting</h4>
          <textarea class="form-control" ng-model="wine.tasting_date" ng-disabled="!edit" rows="1" placeholder="date"></textarea>
          <textarea class="form-control" ng-model="wine.tasting_notes" ng-disabled="!edit" rows="4" placeholder="notes"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
