<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 col-sm-9 col-xs-6">
      <h1>Kelder</h1>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 text-center" ng-show="!user_logged_in">
      <h3><a class="form-control" href="/login">Login</a></h3>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 text-right" ng-show="user_logged_in">
      <h3>Welcome, {{username}}!</h3>
    </div>
  </div>
  <div class="row" style="background-color: #CC9900;">&nbsp;</div>
  <div class="row" style="background-color: #CC9900;">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <!-- search -->
      <div class="row text-center">
        <div class="col-md-12 col-sm-12">
        <input class="form-control" ng-model="search_query" placeholder="search">
        </div>
      </div>
      <div class="row">&nbsp;</div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <!-- filter -->
      <div class="row text-center">
        <div class="col-sm-4 col-xs-4"><label class="form-control btn btn-default"><input type="checkbox" name="checkbox1" ng-model="check_avail">Avail.</label></div>
        <div class="col-sm-4 col-xs-4"><label class="form-control btn btn-default"><input type="checkbox" name="checkbox2" ng-model="check_tasted">Tasted</label></div>
        <div class="col-sm-4 col-xs-4"><label class="form-control btn btn-default"><input type="checkbox" name="checkbox3" ng-model="check_wished">Wished</label></div>
      </div>
      <div class="row">&nbsp;</div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <!-- new  -->
      <div class="row text-center">
        <div class="col-md-12">
          <a class="btn btn-default form-control" href="#/wines/new">Add new</a>
        </div>
      </div>
      <div class="row">&nbsp;</div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <!-- sort -->
      <div class="row">
        <div class="col-md-12">
          <select class="form-control" ng-model="orderProp">
            <option value="name">Sort: Alphabetical</option>
            <option value="-id">Sort: Newest</option>
          </select>
        </div>
      </div>
      <div class="row">&nbsp;</div>
    </div>
  <!-- end of row (menu) -->
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-3 col-sm-6 col-xs-12" style="padding: 5px;" ng-repeat="wine in wines | presence:check_avail:check_tasted:check_wished | filter:search_query | orderBy:orderProp">
        <div style="border: solid gray 1px; height: 150px; padding: 5px;">  
          <a href="#/wines/{{wine.id}}"><img class="thumb" ng-src="{{wine.photo_url}}"></a>
          <b><a href="#/wines/{{wine.id}}">{{wine.name}}</a></b>
          <p>{{wine.description}}</p>
          <p style="color: gray;">({{wine.genre}})</p>
        </div>
      </div>
    </div>

  <!-- end of row (thumbnails) -->
  </div>
</div>
