/* app css stylesheet */

.thumb {
  float: left;
  height: 138px;
  width: 100px;
  margin: 0 10px 0 0;
}


/** Detail View **/
img.wine {
  display: block;
  margin: auto;
  border: 1px solid gray;
  padding: 2px;
  height: 400px;
  width: 400px;
}


