/* app css stylesheet */

body {
  padding-top: 20px;
}

.wines {
  list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  height: 100px;
  width: 100px;
}

.wines li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

/** Detail View **/
img.wine {
  float: left;
  border: 1px solid black;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 200px;
  width: 200px;
}


